%a.sc-player{:href => "http://soundcloud.com/flaminio-music/sets/como-explicar-la-luz/"} Soulhack
-#.sc-player
-#  %a{:href => "http://soundcloud.com/matas/matas-petrikas-live-at-gravity-club-30-05-2008"} My live track
-#  %a{:href => "http://soundcloud.com/matas/goldfrapp-little-bird-matas-ornitologic-remix"} Goldfrapp
-#  %a{:href => "http://soundcloud.com/matas/on-the-bridge"} On the bridge
-#%a.sc-player{:href => "http://soundcloud.com/flaminio-music"} flaminio-music

-#%span
-#  %i.icon-play
-#  icon-play
